Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_value display_errors 1
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  # 301 redirects

  RewriteRule "^company/$" "/about/" [L,R=301]
  RewriteRule "^kontakty/$" "/contact/" [L,R=301]
  RewriteRule "^terminiiopredeleniy/$" "/equipment/" [L,R=301]
  RewriteRule "^texniheckay_baza/$" "/equipment/" [L,R=301]
  RewriteRule "^services/proverka-analiz-i-sostavlenie-smet/proverka-sootvetstviya-obemov-rabot-i-obemov-stroitelnykh-materialov-s-zalozhennymi-v-proektnuyu-dok/$" "/info-block/opinions/analiz-smet-/" [L,R=301]
  RewriteRule "^services/proverka-analiz-i-sostavlenie-smet/otsenka-pravilnosti-primenennykh-pri-sostavlenii-smety-koeffitsientov-i-tsen-na-raboty-i-materialy/$" "/info-block/opinions/analiz-smet-/" [L,R=301]
  RewriteRule "^services/proverka-analiz-i-sostavlenie-smet/analiz-smet/$" "/info-block/opinions/analiz-smet-/" [L,R=301]
  RewriteRule "^services/nezavisimaya-ekspertiza-proektnoy-dokumentatsii/proverka-polnoty-i-sostava-proektnoy-dokumentatsii/$" "/info-block/opinions/ekspertiza-proektnoy-dokumentatsii/" [L,R=301]
  RewriteRule "^services/proverka-analiz-i-sostavlenie-smet/sostavlenie-smetnoy-dokumentatsii-na-otdelnye-vidy-rabot-lokalnoy-smety/$" "/info-block/opinions/ekspertiza-proektnoy-dokumentatsii/" [L,R=301]
  RewriteRule "^services/proverka-analiz-i-sostavlenie-smet/sostavlenie-smetnoy-dokumentatsii-na-stroitelnye-i-remontnye-raboty/$" "/info-block/opinions/ekspertiza-proektnoy-dokumentatsii/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/fundamenty/$" "/info-block/opinions/fundamenty-/" [L,R=301]
  RewriteRule "^services/obsledovanie-zdaniy-i-sooruzheniy/obsledovanie-inzhenernogo-oborudovaniya/$" "/info-block/opinions/inzhenernoe-oborudovanie-/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/inzhenernoe-oborudovanie/$" "/info-block/opinions/inzhenernoe-oborudovanie-/" [L,R=301]
  RewriteRule "^services/ekspertiza-inzhenernykh-sistem-i-kommunikatsiy/obsledovanie-inzhenernykh-sistem/$" "/info-block/opinions/inzhenernoe-oborudovanie-/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/opredelenie-kachestva-montazha-inzhenernogo-oborudovaniya-i-kommunikatsiy/$" "/info-block/opinions/inzhenernoe-oborudovanie-/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/perekrytiya/$" "/info-block/opinions/konstruktsii-perekrytiy/" [L,R=301]
  RewriteRule "^services/priemka-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/kontrol-kachestva-vypolnennykh-rabot/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/kontrol-kachestva-stroitelstva/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/osushchestvlenie-kontrolya-za-proizvodstvom-stroitelno-montazhnykh-rabot/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/osushchestvlenie-kontrolya-za-proizvodstvom-remontnykh-rabot/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/osushchestvlenie-kontrolya-za-provedeniem-puskonaladochnykh-rabot/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/finansovyy-kontrol-i-audit/finansovo-tekhnicheskiy-kontrol-stroitelstva/$" "/info-block/opinions/kontrol-kachestva-stroitelstva-/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/krovlya/$" "/info-block/opinions/krovli-/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/opredelenie-kachestva-vypolneniya-stroitelno-montazhnykh-rabot-pri-ustroystve-krovli/$" "/info-block/opinions/krovli-/" [L,R=301]
  RewriteRule "^services/avtorskiy-nadzor/vedenie-avtorskogo-nadzora/$" "/info-block/opinions/monitoring-tekhnicheskogo-sostoyaniya-zdaniy-sooruzheniy-stroitelnykh-konstruktsiy-tseli-i-zadachi-m/" [L,R=301]
  RewriteRule "^services/opredelenie-tekhnicheskogo-sostoyaniya-obektov-nedvizhimosti-pered-pokupkoy/tekhnicheskoe-obsledovanie-zdaniy-i-sooruzheniy/$" "/info-block/opinions/nezavisimaya-tekhnicheskaya-stroitelnaya-ekspertiza/" [L,R=301]
  RewriteRule "^services/stroitelnyy-konsalting/konsalting-v-stroitelstve/$" "/info-block/opinions/nezavisimaya-tekhnicheskaya-stroitelnaya-ekspertiza/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/nezavisimaya-stroitelnaya-tekhnicheskaya-ekspertiza/$" "/info-block/opinions/nezavisimaya-tekhnicheskaya-stroitelnaya-ekspertiza/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/opredelenie-kachestva-ustanovki-okon-dverey-ostekleniya-balkonov/$" "/info-block/opinions/okna-dveri-vitrazhi-osteklenie-i-prochie-elementy-zapolneniya-proemov-/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/okna-dveri-osteklenie-balkonov/$" "/info-block/opinions/okna-dveri-vitrazhi-osteklenie-i-prochie-elementy-zapolneniya-proemov-/" [L,R=301]
  RewriteRule "^services/ekspertiza-inzhenernykh-sistem-i-kommunikatsiy/$" "/info-block/opinions/opredelenie-velichiny-prichinennogo-materialnogo-ushcherba-v-rezultate-pozhara-/" [L,R=301]
  RewriteRule "^services/otsenka-prichinennogo-ushcherba/opredelenie-prichinennykh-materialnykh-zatrat-v-rezultate-proryva-trub-vodoprovoda-otopleniya/$" "/info-block/opinions/opredelenie-velichiny-prichinennogo-materialnogo-ushcherba-v-rezultate-zaliva/" [L,R=301]
  RewriteRule "^services/otsenka-prichinennogo-ushcherba/opredelenie-prichinennykh-materialnykh-zatrat-v-rezultate-zaliva-sosedyami/$" "/info-block/opinions/opredelenie-velichiny-prichinennogo-materialnogo-ushcherba-v-rezultate-zaliva/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/otdelochnye-raboty/$" "/info-block/opinions/otdelochnye-pokrytiya/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/osushchestvlenie-kontrolya-za-proizvodstvom-otdelochnykh-rabot/$" "/info-block/opinions/otdelochnye-pokrytiya/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/opredelenie-kachestva-vypolnennykh-naruzhnykh-i-vnutrennikh-otdelochnykh-rabot/$" "/info-block/opinions/otdelochnye-pokrytiya/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/priemka-vypolnennykh-rabot/$" "/info-block/opinions/priemka-vypolnennykh-rabot/" [L,R=301]
  RewriteRule "^services/opredelenie-tekhnicheskogo-sostoyaniya-obektov-nedvizhimosti-pered-pokupkoy/opredelenie-tekhnicheskogo-sostoyaniya-obekta-nedvizhimosti/$" "/info-block/opinions/sostav-i-soderzhanie-rabot-po-obsledovaniyu-zdaniy-i-sooruzheniy-v-sootvetstvii-s-trebovaniyami-gost/" [L,R=301]
  RewriteRule "^services/nezavisimaya-stroitelnaya-ekspertiza/steny-kolonny-i-drugie-vertikalnye-konstruktsii/$" "/info-block/opinions/steny-kolonny-i-drugie-vertikalnye-konstruktsii/" [L,R=301]
  RewriteRule "^services/opredelenie-kachestva-vypolnennykh-stroitelno-montazhnykh-i-otdelochnykh-rabot/opredelenie-kachestva-vypolneniya-stroitelno-montazhnykh-rabot-pri-vozvedenii-sten/$" "/info-block/opinions/steny-kolonny-i-drugie-vertikalnye-konstruktsii/" [L,R=301]
  RewriteRule "^services/obsledovanie-zdaniy-i-sooruzheniy/obsledovanie-stroitelnykh-konstruktsiy/$" "/info-block/opinions/tekhnicheskoe-obsledovanie-zdaniy-i-sooruzheniy/" [L,R=301]
  RewriteRule "^primery zakluheniy/$" "/our-work/" [L,R=301]
  RewriteRule "^services/razrabotka-proektnoy-dokumentatsii/razrabotka-proektnoy-dokumentatsii-na-stroitelstvo-zdaniy-i-sooruzheniy/$" "/what-we-do/design/" [L,R=301]
  RewriteRule "^services/sudebnaya-stroitelno-tekhnicheskaya-ekspertiza/sudebnaya-ekspertiza/$" "/what-we-do/examination/" [L,R=301]
  RewriteRule "^new/$" "/what-we-do/examination/" [L,R=301]
  RewriteRule "^expertiza.php$" "/what-we-do/examination/" [L,R=301]
  RewriteRule "^services/obsledovanie-zdaniy-i-sooruzheniy/obsledovanie-zdaniy-i-sooruzheniy/$" "/what-we-do/inspection/" [L,R=301]
  RewriteRule "^services/fvav/vapra/$" "/what-we-do/inspection/" [L,R=301]
  RewriteRule "^services/obsledovanie-zdaniy-i-sooruzheniy/monitoring-tekhnicheskogo-sostoyaniya-zdaniy-i-sooruzheniy/$" "/what-we-do/monitoring/" [L,R=301]
  RewriteRule "^services/monitoring-tekhnicheskogo-sostoyaniya-zdaniy-i-sooruzheniy/monitoring/$" "/what-we-do/monitoring/" [L,R=301]
  RewriteRule "^services/tekhnicheskiy-nadzor/tekhnicheskiy-nadzor-v-stroitelstve/$" "/what-we-do/oversight/" [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>
